__pycache__/
*.pyc
*.pyo
.ipynb_checkpoints/
tmp/
reduced/
catalogs/
*.fits
*.fits.gz
*.jpg
*.png
data_*/
.DS_Store

# Test data directories
test_sky_NIR/

# Personal notebook copies
notebooks/*_mine.ipynb
